.container{
    height:max-content;
    width:fit-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;

}

.intputBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.intputBox > button{
    background-color: rgb(131, 78, 29);
    color:white;
    border: none;
    padding: 9px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 15px;
    box-shadow: 2px 2px rgb(56, 54, 54);
}

.intputBox > button:hover{
    background-color: rgb(89, 51, 15);
    color:white;
}

.intputBox > input{
    padding: 10px 10px;
    border: 3px;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(56, 54, 54);
    
}

.container{
    display:flex;
    flex-direction: column;
}

.eachTask{
    text-decoration: none;
    list-style: none;
}

.task{
    margin-left: 15px;
    margin-right: 15px;
}

.trash{
    color: white;
}

.trash:hover{
    color:rgb(248, 56, 56)
}

.eachTask{
    display: flex;
    justify-content: space-between;
}
.Scontainer{
    display: flex;
    justify-content: center;
}
.SearchBox{
    
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(56, 54, 54);   
    width: 100%;
    background-color: #49556d;
    color: white;
}

.SearchBox :-ms-input-placeholder{
    color: whitesmoke;
}